# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# config files
config.js
correction*.js

# Test files
/test

# dev files
*.bat

# log files
*.log
